# editor crumbs
.*sw?
*~

# autoenv, direnv config files (create these locally to suit your liking)
.autoenv
.env

# intermediate data files
*.fa
*.tab*
*.bed
*.log
*.err

# subdirectories that can be recreated
log/**
venv/**

# see .gitmodules for others which pertain to MOODS
# hat tip: https://stackoverflow.com/a/12332080
